body, h1, p, form, label, input, select, textarea, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 2rem;
  color: #444;
}

p {
  font-size: 1rem;
}

h3 {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1rem;
}

form {
  max-width: 600px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: inline-block;
  line-height: 1.5;
  margin: 5px 0;
}

input[type="checkbox"], input[type="radio"] {
  vertical-align: middle;
  margin-right: 10px;
}


.title {
  font-weight: bold;
}

.title2 {
  font-weight: bold;
  display: block;
}

.basic, select, textarea, button {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input:focus, select:focus, textarea:focus {
  border-color: #007BFF;
  outline: none;
}

button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
